#heroes-strength {
   .heroes__item {
      &:nth-child(1),
      &:nth-child(7),
      &:nth-child(13),
      &:nth-child(19),
      &:nth-child(25),
      &:nth-child(31) {
         &::after,
         &::before {
            box-shadow: calc(-0.225em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(2),
      &:nth-child(8),
      &:nth-child(14),
      &:nth-child(20),
      &:nth-child(26),
      &:nth-child(32) {
         &::after,
         &::before {
            box-shadow: calc(-0.21em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(3),
      &:nth-child(9),
      &:nth-child(15),
      &:nth-child(21),
      &:nth-child(27),
      &:nth-child(33) {
         &::after,
         &::before {
            box-shadow: calc(-0.195em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(4),
      &:nth-child(10),
      &:nth-child(16),
      &:nth-child(22),
      &:nth-child(28),
      &:nth-child(34) {
         &::after,
         &::before {
            box-shadow: calc(-0.18em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(5),
      &:nth-child(11),
      &:nth-child(17),
      &:nth-child(23),
      &:nth-child(29),
      &:nth-child(35) {
         &::after,
         &::before {
            box-shadow: calc(-0.165em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(6),
      &:nth-child(12),
      &:nth-child(18),
      &:nth-child(24),
      &:nth-child(30),
      &:nth-child(36) {
         &::after,
         &::before {
            box-shadow: calc(-0.15em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
   }
}

#heroes-agility {
   .heroes__item {
      &:nth-child(1),
      &:nth-child(7),
      &:nth-child(13),
      &:nth-child(19),
      &:nth-child(25),
      &:nth-child(31) {
         &::after,
         &::before {
            box-shadow: calc(-0.135em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(2),
      &:nth-child(8),
      &:nth-child(14),
      &:nth-child(20),
      &:nth-child(26),
      &:nth-child(32) {
         &::after,
         &::before {
            box-shadow: calc(-0.12em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(3),
      &:nth-child(9),
      &:nth-child(15),
      &:nth-child(21),
      &:nth-child(27),
      &:nth-child(33) {
         &::after,
         &::before {
            box-shadow: calc(-0.105em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(4),
      &:nth-child(10),
      &:nth-child(16),
      &:nth-child(22),
      &:nth-child(28),
      &:nth-child(34) {
         &::after,
         &::before {
            box-shadow: calc(-0.09em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(5),
      &:nth-child(11),
      &:nth-child(17),
      &:nth-child(23),
      &:nth-child(29),
      &:nth-child(35) {
         &::after,
         &::before {
            box-shadow: calc(-0.075em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(6),
      &:nth-child(12),
      &:nth-child(18),
      &:nth-child(24),
      &:nth-child(30),
      &:nth-child(36) {
         &::after,
         &::before {
            box-shadow: calc(-0.06em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
   }
}

#heroes-intelligence {
   .heroes__item {
      &:nth-child(1),
      &:nth-child(7),
      &:nth-child(13),
      &:nth-child(19),
      &:nth-child(25),
      &:nth-child(31) {
         &::after,
         &::before {
            box-shadow: calc(-0.045em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(2),
      &:nth-child(8),
      &:nth-child(14),
      &:nth-child(20),
      &:nth-child(26),
      &:nth-child(32) {
         &::after,
         &::before {
            box-shadow: calc(-0.03em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(3),
      &:nth-child(9),
      &:nth-child(15),
      &:nth-child(21),
      &:nth-child(27),
      &:nth-child(33) {
         &::after,
         &::before {
            box-shadow: calc(-0.015em - #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(4),
      &:nth-child(10),
      &:nth-child(16),
      &:nth-child(22),
      &:nth-child(28),
      &:nth-child(34) {
         &::after,
         &::before {
            box-shadow: calc(0 + 0) $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(5),
      &:nth-child(11),
      &:nth-child(17),
      &:nth-child(23),
      &:nth-child(29),
      &:nth-child(35) {
         &::after,
         &::before {
            box-shadow: calc(0.015em + #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(6),
      &:nth-child(12),
      &:nth-child(18),
      &:nth-child(24),
      &:nth-child(30),
      &:nth-child(36) {
         &::after,
         &::before {
            box-shadow: calc(0.03em + #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
   }
}

#heroes-universal {
   .heroes__item {
      &:nth-child(1),
      &:nth-child(5),
      &:nth-child(9),
      &:nth-child(13),
      &:nth-child(17),
      &:nth-child(21) {
         &::after,
         &::before {
            box-shadow: calc(0.045em + #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(2),
      &:nth-child(6),
      &:nth-child(10),
      &:nth-child(14),
      &:nth-child(18),
      &:nth-child(22) {
         &::after,
         &::before {
            box-shadow: calc(0.06em + #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(3),
      &:nth-child(7),
      &:nth-child(11),
      &:nth-child(15),
      &:nth-child(19),
      &:nth-child(23) {
         &::after,
         &::before {
            box-shadow: calc(0.075em + #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
      &:nth-child(4),
      &:nth-child(8),
      &:nth-child(12),
      &:nth-child(16),
      &:nth-child(20) {
         &::after,
         &::before {
            box-shadow: calc(0.09em + #{$heroes_item_shadow-extra})
               $heroes_item_shadow-y 0.3em $heroes_item_shadow-color;
         }
      }
   }
}
