.selectable {
   &__random {
      &-invisible {
         scale: 1;
         transition: scale
            var(--selectable-random-selectable-cards-transition-duration) linear;
         &::before,
         &::after {
            opacity: 0;
            transition: visibility
                  var(--selectable-random-selectable-cards-transition-duration)
                  0s,
               opacity
                  var(--selectable-random-selectable-cards-transition-duration)
                  linear;
            // visibility: hidden;
         }
      }
      &-involved {
         pointer-events: none;
         user-select: none;
         transform: scale(1);
         transition: transform
            var(--selectable-random-selectable-cards-transition-duration) linear;
         // transition: filter 0s 0s linear;
         // filter: grayscale(0) brightness(1.2);
         z-index: 5;
         &-image {
            filter: grayscale(0) brightness(1.2);
            transition: opacity
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear,
               filter
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear;
         }
         &::before,
         &::after {
            visibility: visible;
            opacity: 1;
            pointer-events: none;
            user-select: auto;
            transition: visibility
                  var(--selectable-random-selectable-cards-transition-duration)
                  0s,
               opacity
                  var(--selectable-random-selectable-cards-transition-duration);
            animation: var(--selectable-random-animation-duration)
                  searched-light-spinning linear infinite,
               1s searched-light-colors linear infinite alternate;
            background: conic-gradient(
               from var(--angle),
               rgba(var(--first-r), var(--first-g), var(--first-b), 0.5),
               rgba(var(--second-r), var(--second-g), var(--second-b), 0.5),
               rgba(var(--first-r), var(--first-g), var(--first-b), 0.5)
                  // rgb(255,0,255)
               // rgb(255, 0, 128)
               // rgb(255, 121, 121)
               // rgb(0,255,221)
               // rgb(0, 140, 255)
               // rgb(117, 119, 255)
            );
            width: calc(100% + 0.5em);
            height: calc(100% + 0.5em);
            transform: translate(-0.25em, -0.25em);
            border-radius: 0.55em;
         }
      }
      &-not-involved {
         pointer-events: none;
         user-select: none;
         transform: scale(0.95);
         transition: transform
            var(--selectable-random-selectable-cards-transition-duration) linear;
         z-index: 5;
         &-image {
            opacity: 0.75;
            transition: opacity
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear,
               filter
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear;
            filter: contrast(0.8) grayscale(0.95) brightness(0.5);
         }
         &-banned {
            transition: 0.5s linear;
            opacity: 0.25;
            transform: scale(0.9);
            filter: contrast(0.8) grayscale(1) brightness(0.5);
         }
         &::before,
         &::after {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            user-select: auto;
            transition: visibility 0s
                  var(--selectable-random-selectable-cards-transition-duration),
               opacity
                  var(--selectable-random-selectable-cards-transition-duration);
            animation: var(--selectable-random-animation-duration)
                  searched-light-spinning linear infinite,
               1s searched-light-colors linear infinite alternate;
            background: conic-gradient(
               from var(--angle),
               rgba(var(--first-r), var(--first-g), var(--first-b), 0.5),
               rgba(var(--second-r), var(--second-g), var(--second-b), 0.5),
               rgba(var(--first-r), var(--first-g), var(--first-b), 0.5)
            );
            width: calc(100% + 0.5em);
            height: calc(100% + 0.5em);
            transform: translate(-0.25em, -0.25em);
            border-radius: 0.55em;
         }
      }
   }
   &__last {
      &-chosen {
         pointer-events: none;
         user-select: none;
         transform: scale(1.25);
         transition: transform
            var(--selectable-random-selectable-cards-transition-duration) linear;
         // transition: filter 0s 0s linear;
         // filter: grayscale(0) brightness(1.2);
         z-index: 6;
         &-image {
            filter: grayscale(0) brightness(1.2);
            transition: opacity
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear,
               filter
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear;
            &__sparking {
               animation: searched-image-sparking
                  calc(var(--selectable-random-animation-duration) * 4) linear
                  infinite alternate;
            }
         }
         &::before,
         &::after {
            visibility: visible;
            opacity: 1;
            pointer-events: none;
            user-select: auto;
            transition: visibility
                  var(--selectable-random-selectable-cards-transition-duration)
                  0s,
               opacity
                  var(--selectable-random-selectable-cards-transition-duration);
            animation: calc(var(--selectable-random-animation-duration) * 20)
                  searched-light-spinning linear infinite,
               1s chosen-light-colors linear infinite alternate;
            background: conic-gradient(
               from var(--angle),
               rgba(var(--b-first-r), var(--b-first-g), var(--b-first-b), 1),
               rgba(var(--b-second-r), var(--b-second-g), var(--b-second-b), 1),
               rgba(var(--b-second-r), var(--b-second-g), var(--b-second-b), 1),
               rgba(var(--b-first-r), var(--b-first-g), var(--b-first-b), 1),
               rgba(var(--b-second-r), var(--b-second-g), var(--b-second-b), 1),
               rgba(var(--b-second-r), var(--b-second-g), var(--b-second-b), 1),
               rgba(var(--b-first-r), var(--b-first-g), var(--b-first-b), 1),
               rgba(var(--b-second-r), var(--b-second-g), var(--b-second-b), 1),
               rgba(var(--b-second-r), var(--b-second-g), var(--b-second-b), 1),
               rgba(var(--b-first-r), var(--b-first-g), var(--b-first-b), 1)
            );
            width: calc(100% + 0.5em);
            height: calc(100% + 0.5em);
            transform: translate(-0.25em, -0.25em);
            border-radius: 0.55em;
         }
      }
      &-pre-final {
         pointer-events: none;
         user-select: none;
         transform: scale(0.95);
         transition: transform
            var(--selectable-random-selectable-cards-transition-duration) linear;
         // transition: filter 0s 0s linear;
         // filter: grayscale(0) brightness(1.2);
         z-index: 5;
         &-image {
            filter: grayscale(0) brightness(1.2);
            transition: opacity
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear,
               filter
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear;
            &__sparking {
               animation: searched-image-sparking
                  calc(var(--selectable-random-animation-duration) * 4) linear
                  infinite alternate;
            }
         }
         &::before,
         &::after {
            visibility: visible;
            opacity: 1;
            pointer-events: none;
            user-select: auto;
            transition: visibility
                  var(--selectable-random-selectable-cards-transition-duration)
                  0s,
               opacity
                  var(--selectable-random-selectable-cards-transition-duration);
            animation: 1s searched-light-spinning linear infinite,
               calc(var(--selectable-random-animation-duration) * 2)
                  pre-final-light-colors linear infinite alternate;
            background: conic-gradient(
               from var(--angle),
               rgba(var(--a-first-r), var(--a-first-g), var(--a-first-b), 0.05)
                  50%,
               rgba(var(--a-first-r), var(--a-first-g), var(--a-first-b), 0.05),
               rgba(
                  var(--a-second-r),
                  var(--a-second-g),
                  var(--a-second-b),
                  0.25
               ),
               rgba(var(--a-second-r), var(--a-second-g), var(--a-second-b), 1),
               rgba(
                  var(--a-second-r),
                  var(--a-second-g),
                  var(--a-second-b),
                  0.25
               ),
               rgba(var(--a-first-r), var(--a-first-g), var(--a-first-b), 0.05)
            );
            width: calc(100% + 0.5em);
            height: calc(100% + 0.5em);
            transform: translate(-0.25em, -0.25em);
            border-radius: 0.55em;
         }
      }
      &-final {
         pointer-events: none;
         user-select: none;
         transform: scale(1.05);
         transition: transform
            calc(
               var(--selectable-random-selectable-cards-transition-duration) * 2
            )
            linear;
         // transition: filter 0s 0s linear;
         // filter: grayscale(0) brightness(1.2);
         z-index: 5;
         &-image {
            filter: grayscale(0) brightness(1.2);
            transition: opacity
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear,
               filter
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear;
            &__sparking {
               animation: searched-image-sparking
                  calc(var(--selectable-random-animation-duration) * 4) linear
                  infinite alternate;
            }
         }
         &::before,
         &::after {
            visibility: visible;
            opacity: 1;
            pointer-events: none;
            user-select: auto;
            transition: visibility
                  var(--selectable-random-selectable-cards-transition-duration)
                  0s,
               opacity
                  var(--selectable-random-selectable-cards-transition-duration),
               background-color
                  var(--selectable-random-selectable-cards-transition-duration);
            animation: 1s searched-light-spinning linear infinite,
               calc(var(--selectable-random-animation-duration) * 2)
                  pre-final-light-colors linear infinite alternate;
            background: conic-gradient(
               from var(--angle),
               rgba(var(--a-first-r), var(--a-first-g), var(--a-first-b), 0.05)
                  40%,
               rgba(var(--a-first-r), var(--a-first-g), var(--a-first-b), 0.05),
               rgba(
                  var(--a-second-r),
                  var(--a-second-g),
                  var(--a-second-b),
                  0.25
               ),
               rgba(var(--a-second-r), var(--a-second-g), var(--a-second-b), 1),
               rgba(
                  var(--a-second-r),
                  var(--a-second-g),
                  var(--a-second-b),
                  0.25
               ),
               rgba(var(--a-first-r), var(--a-first-g), var(--a-first-b), 0.05)
            );
            width: calc(100% + 0.5em);
            height: calc(100% + 0.5em);
            transform: translate(-0.25em, -0.25em);
            border-radius: 0.55em;
         }
      }
      &-thinking {
         pointer-events: none;
         user-select: none;
         // transform: scale(1.3);
         transform: translateY(-0.5em);
         transition: transform
            calc(
               var(--selectable-random-selectable-cards-transition-duration) / 5
            )
            linear;
         // transition: filter 0s 0s linear;
         // filter: grayscale(0) brightness(1.2);
         z-index: 6;
         &-image {
            filter: grayscale(0) brightness(1.2);
            transition: opacity
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear,
               filter
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 3
                  )
                  linear;
            &__sparking {
               animation: searched-image-sparking
                  calc(var(--selectable-random-animation-duration) * 4) linear
                  infinite alternate;
            }
         }
         &::before,
         &::after {
            visibility: visible;
            opacity: 1;
            pointer-events: none;
            user-select: auto;
            transition: visibility
                  var(--selectable-random-selectable-cards-transition-duration)
                  0s,
               opacity
                  var(--selectable-random-selectable-cards-transition-duration),
               background-color
                  var(--selectable-random-selectable-cards-transition-duration);
            animation: calc(var(--selectable-random-animation-duration) * 2)
                  searched-light-spinning linear infinite,
               calc(var(--selectable-random-animation-duration) * 2)
                  pre-final-light-colors linear infinite alternate;
            // background-color: #1eff00;
            background-color: rgba(255, 255, 255, 0.8);
            width: calc(100% + 0.5em);
            height: calc(100% + 0.5em);
            transform: translate(-0.25em, -0.25em);
            border-radius: 0.55em;
         }
      }
      &-retired {
         z-index: 8;
         pointer-events: none;
         user-select: none;
         // transform: scale(1) rotate(5deg);
         transform: scale(0.6) rotate(0deg) translateX(0em) translateY(0em);
         transition: opacity
               calc(
                  var(--selectable-random-selectable-cards-transition-duration) /
                     2
               )
               linear,
            transform
               calc(
                  var(--selectable-random-selectable-cards-transition-duration) /
                     2
               )
               linear;
         // transition: filter 0s 0s linear;
         // filter: grayscale(0) brightness(1.2);
         z-index: 5;
         opacity: 0;
         &-image {
            filter: contrast(1) grayscale(0.75) brightness(0.75);
            transition: opacity
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 2
                  )
                  linear,
               filter
                  calc(
                     var(
                           --selectable-random-selectable-cards-transition-duration
                        ) / 2
                  )
                  linear;
            &__sparking {
               animation: searched-image-sparking
                  calc(var(--selectable-random-animation-duration) * 4) linear
                  infinite alternate;
            }
         }
         &::before,
         &::after {
            visibility: visible;
            opacity: 1;
            pointer-events: none;
            user-select: auto;
            transition: visibility
                  var(--selectable-random-selectable-cards-transition-duration)
                  0s,
               opacity
                  var(--selectable-random-selectable-cards-transition-duration);
            animation: 1s searched-light-spinning linear infinite,
               calc(var(--selectable-random-animation-duration) * 2)
                  retired-light-colors linear infinite alternate;
            background: conic-gradient(
               from var(--angle),
               rgba(var(--c-first-r), var(--c-first-g), var(--c-first-b), 0.25)
                  50%,
               rgba(var(--c-first-r), var(--c-first-g), var(--c-first-b), 0.25),
               rgba(
                  var(--c-second-r),
                  var(--c-second-g),
                  var(--c-second-b),
                  0.25
               ),
               rgba(var(--c-second-r), var(--c-second-g), var(--c-second-b), 1),
               rgba(
                  var(--c-second-r),
                  var(--c-second-g),
                  var(--c-second-b),
                  0.25
               ),
               rgba(var(--c-first-r), var(--c-first-g), var(--c-first-b), 0.25)
            );
            width: calc(100% + 0.5em);
            height: calc(100% + 0.5em);
            transform: translate(-0.25em, -0.25em);
            border-radius: 0.55em;
         }
         &::after {
            filter: blur(1em);
         }
      }
   }
}

.hero-flipped {
   animation: 2s hero-flipped linear forwards;
}