.hints {
   display: none;
   pointer-events: none;
   user-select: none;
   top: 0;
   left: 0;
}

.hint {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   z-index: 8;
   position: absolute;
   top: 7em;
   left: 2em;
   background-color: rgba(255, 255, 255, 0.8);
   // border: 0.5em solid #fff;
   // width: 33em;
   // height: 8em;
   padding: 0.5em;
   border-radius: 1.5em;
   opacity: 0;
   transform: translateX(-2em);
   transition: all 0.3s ease;
   // &::before {
   //    content: "";
   //    position: absolute;
   //    bottom: -2em;
   //    left: 2em;
   //    width: 0;
   //    height: 0;
   //    transform: rotate(180deg);
   //    border-left: 4em solid transparent; // Левая сторона треугольника
   //    border-right: 0em solid transparent; // Правая сторона треугольника
   //    border-bottom: 2em solid rgba(255, 255, 255, 0.8); // Основание треугольника
   // }
   &__visible {
      opacity: 1;
      transform: translateX(0);
   }
   &__box {
      min-width: 24em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      padding: 0.5em;
      border-radius: 1em;
      background-color: rgba(255, 255, 255, 0.5);
   }
   &__text {
      text-transform: uppercase;
      font-family: "Amatic SC";
      font-size: 3.8em;
      font-weight: 700;
      text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
   }
   &__hotkey {
      font-family: "Roboto";
      user-select: none;
      font-size: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
   }
   &__button {
      all: unset;
      position: relative;
      height: 8em;
      width: 4em;
      padding: 0.8em 2.4em;
      border-radius: 1em;
      background: linear-gradient(180deg, #282828, #202020);
      box-shadow: inset -0.8em 0 0.8em rgba(0, 0, 0, 0.15),
         inset 0 -0.8em 0.8em rgba(0, 0, 0, 0.25),
         0 0 0 0.2em rgba(0, 0, 0, 0.75), 1em 2em 2.5em rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
      // cursor: pointer;
      &::before {
         content: "";
         position: absolute;
         top: 0.3em;
         left: 0.4em;
         bottom: 1.4em;
         right: 1.2em;
         background: linear-gradient(90deg, #232323, #4a4a4a);
         border-radius: 1em;
         box-shadow: -1em -1em 1em rgba(255, 255, 255, 0.25),
            1em 0.5px 1em rgba(0, 0, 0, 0.15);
         border-left: 0.1em solid #0004;
         border-bottom: 0.1em solid #0004;
         border-top: 0.1em solid #0009;
      }

      &-text {
         color: white;
         position: absolute;
         // top: 0.5em;
         // left: 0.6em;
         &_top {
            text-transform: uppercase;
            font-size: 3.5em;
            color: #fff;
            position: absolute;
            top: 0.3em;
            left: 0.5em;
            opacity: 1;
         }
         &_bottom {
            text-transform: lowercase;
            font-size: 3.2em;
            color: #fff;
            position: absolute;
            bottom: 0.5em;
            right: 0.6em;
            opacity: 0.4;
         }
      }
   }
   &__plus {
      font-size: 5em;
   }
}

#hint_run {
   top: 12em;
   left: 14.8em;
}

#hint_accept {
   top: 8em;
}

#hint_reroll {
   top: 16em;
}
